# Backend API URL
# NEXT_PUBLIC_API_URL=http://13.55.115.124:5000/api/v1
NEXT_PUBLIC_API_URL=http://localhost:5000/api/v1
# Stripe Publishable Key (get from Stripe Dashboard)
# NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51SRlzVGWHt6mKfvJc2YG3Bt8NX85IpFnPNbcZcUMTkfQLjQu6RX8f3WcPYHpL6MPEke0mKO5EbIkXIBvfsVoWj5G0046sAl8FY
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=pk_test_51SeqcMKNMJBzPh0pZ0OayYacJqgIYaKeyq1nnoodGYQszuXwCU4oeibNXwJhTFQP195iLWHGfnOe00zcXrvxX71i009crf5xyp